.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  background: #fff;

  .header__title {
    color: rebeccapurple;
  }

  .header__button {
    button {
      outline: none;
      border: none;
      padding: 8px 15px;
      background: rebeccapurple;
      color: #fff;
      border-radius: 4px;
      font-family: "poppins", sans-serif;
      cursor: pointer;
    }
  }
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 20px;
  .main__inner {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .user {
      width: 100%;
      .user__avatar {
        width: 100%;
        height: 300px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgb(102, 51, 153, 0.2);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .user__data {
        padding: 20px 10px;
        width: 100%;
        background: rebeccapurple;
        color: #fff;

        .name{
            font-size: 16px;
            font-weight: 700;
        }


        p {
            align-items: center;
            display: flex;
            justify-content: flex-start;
          i {
            margin-right: 5px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 468px) {
  .header {
    justify-content: center;
    .header__title {
      display: none !important;
    }
  }
}
